body{
    font-family: tahoma;
}

header{
    background-color:steelblue;
    padding:3px;
    margin:20px 0px;
}

 /* PART 1: STYLING NAVIGATION BAR */

.nav_links{
    display:flex;
    list-style:none;
}

.nav_links a{
    color:white;
}

.nav_links a:link{
    padding:12px;
    text-transform:uppercase;
    text-decoration:none;
}
.nav_links a:hover{
    text-decoration:underline;
    font-weight:bold
}

/* .navlinks a:visited, .nav_links a:focus, .nav_links a:hover{
} */

/* PART 2: STYLING INTRO CLASS */

.intro { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    justify-items:end;
    align-items:center;
}

.intro img {
    width:100px;
}

/* .intro p{
    grid-row:1;
    grid-column-start:-1;
} */
