
.skip{
    position:absolute;
    padding:6px;
    top:-40px;
}

.skip:focus{
    top:100px;
    color:black;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
}

header{
    padding:3px 20px;
    margin:20px 0px 50px;
}

footer{ 
    background-color: #e3dac9;
    padding:10px;
}

 /* NAVIGATION BAR/HEADER */

.nav_links{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: solid 2px #726d62;
    padding-bottom:10px;
    justify-items:center;
 }

.nav_links li{
    list-style:none;
}

.nav_links a{
    color:black;
    text-decoration:none;
}

.nav_links a:hover, .active, .nav_links a:active{
    border-bottom: solid 3px #726d62;
    font-weight:bolder;
}

/* ---- ABOUT SECTION ------ */

h1, .blog_content h2{
    border-bottom: 3px solid #726d62;
     /* #839a87; */
}

.intro{ 
    display: grid;
    justify-items:center;
    text-align:center;
}


.intro_button, .proj_button{
    background-color:#726d62;
    border:none;
    color:white;
    padding:10px 15px;
    font-weight:bold;
}

.intro_button:hover, .proj_button:hover{
    font-weight:bolder;
    border:5px solid #726d62;
}

.intro img {
    padding:4px;
    width:150px;
    background-color:#726d62;

}

.contact-form{
    display:flex;
    justify-content:center;
    text-align:center;
    padding:20px;
}

.contact-form input[type=text], legend{
    margin:5px;
    border: 2px #726d62 solid;
    padding:10px;
    text-transform:uppercase;
    width:200px;
}

/* ---- BLOG SECTION ------ */
.blog_options a, .blog_options:visited{
    background-color:#e3dac9;
    color: black;
    padding: 10px 10px;
    margin: 20px 20px 0px 20px;
    text-decoration:none;
    box-shadow:3px 3px #726d62;
}
.blog_options a:hover{
    font:black;
    font-weight:bold;
    border: solid 3px #e3dac9;
    text-decoration:underline;
}

.blog_options a:active{
    color:black;
    font-weight:bolder;
}

.blog_options{
    display:flex;
    position:sticky;
    top:0;
    justify-content:center;
    background-color:white;
}
.blog_content h2::before{
    content:'\21B3';
    color: #5d5b7f;
}

#entertainment h3{
    text-align:center;
}

.section_title_large{
    visibility:hidden;
}

#book_gallery, #podcast_gallery, #amsterdam_gallery, #london_gallery, #turkey_gallery{
    display:flex;
    justify-content:center;
}
#book_gallery img, #podcast_gallery img, #amsterdam_gallery img, #london_gallery img, #turkey_gallery img{
    padding:5px;
}

.travel_gallery img{
    width:175px;
}
.media_section, .travel_section{
    background-color:rgb(239, 233, 226);
}

/* ---- PROJECTS SECTION ------ */

.skills_descrip img { 
    width:60px;
}
.skills_descrip{
    justify-items:space-between;
    align-items:center;
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.projects{
    display:grid;
    grid-template-columns:1fr;
}

.project{
    border: 4px #726d62 solid;
    text-align:center;
    padding: 20px 20px;
    margin:20px;
}

@media only screen and (min-width: 481px){ /*for tablets */

    /* ---- ABOUT SECTION ------ */
    .intro{
        grid-template-columns: 1fr 2fr;
        justify-items:center;
        column-gap:20px;
        padding:20px;
    }
    .intro img { 
        width:150px;
    }
    
    .contact-form input[type=text], legend{
        width: 300px;
    }

    /* ---- PROJECTS SECTION ------ */
    .project { 
        flex-basis:200px;
    }
    .skills_descrip{
        justify-items:center;
        grid-template-columns: repeat(2, 1fr 3fr);
        column-gap:7px;
    }


    /* ----- BLOG SECTION ------- */

    #book_gallery img, #podcast_gallery img{
        padding:5px;
        width:120px;
    }
    #amsterdam_gallery, #london_gallery, #turkey_gallery{
        flex-flow:row wrap;
        justify-content:center;
        justify-items:center;
    }
    #amsterdam_gallery img, #london_gallery img, #turkey_gallery img{
        width:150px;
    }

    
}

@media only screen and (min-width: 769px) { /* for laptops and desktops */
    
    .nav_links{
        grid-template-columns:1fr;
        justify-items:right;
    }
    .nav_links li{
        padding-bottom:7px;
    }

    /* ---- ABOUT SECTION ------ */
    .contact-form input[type=text], legend{
        width: 400px;
    }
    .aboutme_card{
        align-self:center;
        padding-bottom:100px;
    }
    .intro{
        grid-template-columns:1fr 3fr;
        text-align:left;
    }
    .intro img{
        width:200px;
    }

    /* ---- PROJECTS SECTION ------ */

    .skills_descrip{
        grid-template-columns:repeat(3, 1fr 3fr);
        justify-items:right;
        column-gap:20px;
    }

    .skills_descrip img{
        width:75px;
    }
    .projects{
        grid-template-columns:repeat(2, 1fr);
    }

    /* ----- BLOG SECTION ------- */

    .section_title_small{
        visibility:hidden;
    }
    .section_title_large{
        visibility:visible;
        padding-right:40px;
    }

    #podcast_gallery img, #book_gallery img{
        width:175px;
        align-items:center;
        padding:10px;
    }
    #amsterdam_gallery img, #london_gallery img, #turkey_gallery img{
        width:200px;
    }

    #book_gallery, #podcast_gallery, #amsterdam_gallery, #london_gallery, #turkey_gallery{
        justify-content:flex-start;
        align-items:center;
    }
}

@media only screen and (min-width: 1280px) {
    #podcast_gallery img, #book_gallery img{
        width:200px;
        align-items:center;
        padding:10px;
    }
    .section_title_large{
        padding-right:150px;
    }

    .projects{
        grid-template-columns:repeat(3, 1fr);
    }

    #amsterdam_gallery, #london_gallery, #turkey_gallery{
        justify-content:flex-end;
    }

    #amsterdam_gallery img, #london_gallery img, #turkey_gallery img{
        width:300px;
    }

}
