body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    /* background-color:ivory; */
}

header{
    /* background-color:white; */
    padding:3px 20px;
    margin:20px 0px 50px;
}

/* footer { 

} */

 /* PART 1: STYLING NAVIGATION BAR */

.nav_links li{
    display:inline;
    list-style:none;
    float:right;
}

.nav_links a{
    color:black;
}

.nav_links a:link{
    padding:12px;
    text-transform:uppercase;
    text-decoration:none;
}
.nav_links a:hover, .active{
    text-decoration:underline;
    font-weight:bold
}

/* ---- ABOUT SECTION ------ */

.intro { 
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 12px;
    justify-items:end;
    align-items:center;
}

.intro img {
    width:150px;
}

/* ---- BLOG SECTION ------ */
.entertainment_gallery{
    display:grid;
    align-items:center;
    grid-template-columns:1fr 4fr;
    column-gap:5px;
}
.amspics{
    display:grid;
    justify-content:center;
}

.blog_options{
    display:grid;
    grid-template-columns: 1fr;
    /* justify-items:stretch; */
}

.blog_options a:link{
    text-decoration:none;
    color:black;
}


.skip_button{
    border: 2px solid purple;;
    background-color:thistle;
    padding: 10px;
    margin:2px;
}
.blog_options li{
    list-style:none;
    text-align:center;
    /* border: 2px solid purple;;
    background-color:thistle;
    padding:0px;
    margin:5px; */
}


.blog_options a:hover{
    font-weight:bold;
    text-decoration:underline;
}

/* ---- PROJECTS SECTION ------ */
.container > h2, .container > h1, .overview{
    text-align:center;
}
.github{
    text-align:center;
}

.projects { 
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-content:center;
    /* gap:15px; */
    /* flex-flow:column wrap; */
}

.project > header{
    /* background-color:lavender;
    border: solid 2px thistle; */
    text-align:center;
    /* padding:0px; */
    margin:0px;
}

.project { 
    display:flex;
    flex-flow: column wrap;
    border: solid 5px black;
    border-radius:20px;
    padding:15px;
    margin:10px;
    flex-basis: 350px;
    align-items:center;
}

/* .github a::before{
    content: url("/images/githublogo.png");
} */

@media only screen and (min-width: 650px){
    /* ---- ABOUT SECTION ------ */
    .intro{
        grid-template-columns: 1fr 1fr;
        justify-items:center;
        justify-content:center;
        column-gap:0px;
        padding: 20px;
    }
    .intro img { 
        width:250px;
    }

    /* ---- PROJECTS SECTION ------ */
    .project { 
        flex-basis:400px;
    }

}

@media only screen and (min-width: 800px) {
    .project { 
        flex-basis:40%;
    }
}
